body {
    background: linear-gradient(
    135deg,
    #34d399,
    #60a5fa
  );
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  min-height: 100vh;      /* ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

.container{
  background: #ffffff;
  border-radius: 28px;
  padding: 3rem;
  box-shadow:
    0 30px 80px rgba(0, 0, 0, 0.25);
  max-width: 1000px;         
  margin: 50px auto;        
  padding: 40px;
  border-radius: 20px;
  border: none;
  flex: 1;
}

.search-bar-container{
    margin: auto;
    display: flex;
    align-items: center;
    min-width: 200px;
    gap: 10px;
}

.input-wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.95rem;
}

.search-icon {
  color: #888;
  font-size: 1rem;
}

.search-button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1db954; /* verde Spotify vibe */
  color: white;
  font-weight: 500;
}

.search-button:hover {
  opacity: 0.9;
}

.track-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.track-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    border 0.2s ease;
  font-size: 12px;
  text-align: center;
}

.track-card:hover {
  /*transform: scale(1.05); */
  transform: translateY(-6px);
  border-color: #22c55e;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.12);
}

.track-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0.75rem;

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.15);
}

.song-title {
  font-size: 0.95rem;
  font-weight: 600;
  color: #1f2937;
}

.song-artist {
  font-size: 0.8rem;
  color: #6b7280;
}


.no-results {
  text-align: center;
  color: #aaa;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .track-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .track-container {
    grid-template-columns: 1fr;
  }
    .container {
    padding: 24px;
    margin: 20px;
  }

  .search-bar-container {
    width: 100%;
  }
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;

  background: #ffffff;
  color: #1f2937;

  padding: 14px 20px;
  border-radius: 14px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25);

  font-size: 0.9rem;
  font-weight: 500;

  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer{
  background: #202020;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  text-align: center;
  padding: 5px;
}